#wrapper {
	width:770px;
	margin:0 auto;
}

.nivoSlider {
	position:relative;
	min-height:320px;
	margin:0px;
	background:#131e22 url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoSlider a {
	border:0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}


#slider3 .nivo-controlNav {
	position:absolute;
	left:42%;
	bottom:10px;
	top: 
}
#slider3 .nivo-controlNav img {
	display:inline;
	position:relative;
	margin-right:5px;
	border:1px solid #FFFFFF;
}
#slider3 .nivo-controlNav a.active img {border:1px solid #f1a41c;}